<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <!-- jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- underscore -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- backbone -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- bootstrap js -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
    <title>Outside Bound</title>
  </head>
  <body>
    <script type="text/javascript" src="/scripts/model.js"></script>
    <script type="text/javascript" src="/scripts/view.js"></script>
    <script type="text/javascript" src="/scripts/collection.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <div id="app-container"></div>


    <div id="city-images">
        <div class="jumbotron">
            <h1 class="page-title">Outside Bound</h1>
        </div>
        <h3 class="subtitle"> Find your weekend adventure near one of these cities</h3>
        <div class="container">
          <div class="row cities">
            <div class="col-md-3">
              <div class="image">
                <a class="city-font" href="#city/losangeles"><img src="/images/la.jpg" class="img-responsive img-rounded center-block round-image border=0">
                <div class="homepage-text"><p>Los Angeles</p></a>
                </div>
              </div>  
            </div>
            <div class="col-md-3">
              <div class="image">
                <a class="city-font" href="#city/sanfrancisco"><img src="/images/sf.jpg" class="img-responsive img-rounded center-block border=0">
                <div class="homepage-text"><p>San Francisco</p></a>
                </div>
              </div>  
            </div>
            <div class="col-md-3">
              <div class="image">
                <a class="city-font" href="#city/portland"><img src="/images/portland.jpg" class="img-responsive img-rounded center-block border=0">
                <div class="homepage-text"><p>Portland</p></a> 
                </div>
              </div> 
            </div>
            <div class="col-md-3">
              <div class="image">
                <a class="city-font" href="#city/seattle"><img src="/images/seattle.jpg" class="img-responsive img-rounded center-block border=0">
                <div class="homepage-text"><p>Seattle</p></a>
                </div>
               </div> 
            </div>
          </div>
        </div>
    </div>
    
    <!--- template --->
    <script type="text/template" id="campsite-template">
      <div class="each-campsite">
        <p><strong><%= name %></strong>
        <button type="button" class="btn btn-default btn-xs trail-button">View on map</button>
        <a href="http://www.reserveamerica.com/campsiteSearch.do?contractCode=<%= contract_id %>&parkId=<%= facility_id %>" target="_blank"> More info</a></p>
        <ul>
          <% _.each(topTrails, function (trail) { %>
            <li><em><%= trail.length.toFixed(1) %> miles - <%= trail.name %></em>
            <a href="http://www.everytrail.com/view_trip.php?trip_id=<%= trail.trip_id %>" target="_blank">More info</a></li>
          <% }) %>
        </ul>
      </div>  
    </script>

    <div id="nav-container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Outside Bound</a>
            <ul class="nav navbar-nav navbar-left">
              <li><a href="#about">About</a></li>
            </ul>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#city/losangeles">Los Angeles</a></li>
              <li><a href="#city/sanfrancisco">San Francisco</a></li>
              <li><a href="#city/portland">Portland</a></li>
              <li><a href="#city/seattle">Seattle</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div id="results">
      <div class="row">
        <div class="col-md-3 col-md-offset-5">
          <h2 id="cityName"></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="campsite-container" class="scroll">
          </div>
        </div>
        <div class="col-md-6">
          <div class="map-container-padding">
            <div id="map-container">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="about-container" class="container">
      <div class="row">   
         <div class="col-md-6 about-page">
          <h2>About Outside Bound</h2>
          <p>Outside Bounds pairs campgrounds with nearby trailheads to reduce the amount of planning needed for a weekend camping adventure. The list of campgrounds comes from ReserveAmerica, and trailhead information is from EveryTrail. Plans for future expansion of this website include adding more cities, and providing a search box to search by location.
          </p>

          <h2>About the Developer</h2>
          <h4>Victoria Frambach <a href="https://github.com/vframbach" target="_blank">Github</a></h4>
          <p> I've been learning web development for the past few months at General Assembly, and decided to build a site about two of my passions, camping and hiking. I'm an outdoors enthusiast and wanted to make it easier for others to plan a weekend getaway without having several browser tabs open. </p>

          <h2>Attribution</h2>
          <p><a class="attribution" href="http://david.sickmiller.com/pictures/dynslideshow/August%202005%20trip%20to%20Seattle%20and%20Portland/Columbia_River_Gorge_-_View_from_Portland_Womens_Forum_4" target="_blank">Portland photo</a></p>
          <p><a class="attribution" href="https://www.flickr.com/photos/davidjlee/8714655860" target="_blank">Seattle photo</a> </p>
          <p><a class="attribution" href="http://trailapi.com" target="_blank">TrailAPI- Copyright 2012 TrailAPI</a> </p>
          
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/images/picture.jpg">
        </div>
      </div>
    </div>
  </body>
</html>
