<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <!-- jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- underscore -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- backbone -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- bootstrap js -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <script type="text/javascript" src="/scripts/model.js"></script>
    <script type="text/javascript" src="/scripts/view.js"></script>
    <script type="text/javascript" src="/scripts/collection.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <div class="jumbotron">
        <h1>Outside Bound</h1>
    </div>
    <h3 class="subtitle"> Pairing campsites and trailheads together</h3>
    <div class="row">
    
        <div class="row">
            <div class="col-md-3">
                <img src="https://pixabay.com/static/uploads/photo/2015/10/09/14/51/hollywood-sign-979399_960_720.jpg" class="img-responsive img-rounded center-block round-image">
                <div class="homepage-text"><p><a href="/results">Los Angeles</a></p> 
                </div>
            </div>
            <div class="col-md-3">
                <img src="https://pixabay.com/static/uploads/photo/2015/10/22/08/51/golden-bridge-1000909_960_720.jpg" class="img-responsive img-rounded center-block">
                <div class="homepage-text"><p><a href="/results">San Francisco</a></p> 
                </div>
            </div>
            <div class="col-md-3">
                    <img src="http://david.sickmiller.com/pictures/dynimages/Columbia_River_Gorge_-_View_from_Portland_Womens_Forum_4.jpg" class="img-responsive img-rounded center-block">
                    <div class="homepage-text"><p><a href="/results">Portland</a></p> 
                    </div>
            </div>
            <div class="col-md-3">
                <img src="https://c1.staticflickr.com/9/8137/8714655860_4fa16bca7b_b.jpg" class="seattle img-responsive img-rounded center-block">
                <div class="homepage-text"><p><a href="/">Seattle</a></p> 
                </div>
            </div>
        </div>
  </body>
</html>
