<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <!-- jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- underscore -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- backbone -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- bootstrap js -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
    <title>{{title}}</title>
  </head>
  <body>
    <script type="text/javascript" src="/scripts/model.js"></script>
    <script type="text/javascript" src="/scripts/view.js"></script>
    <script type="text/javascript" src="/scripts/collection.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <div id="app-container"></div>


    <div id="city-images">
        <div class="jumbotron">
            <h1 class="page-title">Outside Bound</h1>
        </div>
        <h3 class="subtitle"> Find your weekend adventure near one of these cities</h3>
        <div class="container">
          <div class="row cities">
              <div class="col-md-3">
                  <a href="#city/losangeles"><img src="https://pixabay.com/static/uploads/photo/2015/10/09/14/51/hollywood-sign-979399_960_720.jpg" class="img-responsive img-rounded center-block round-image border=0">
                  <div class="homepage-text"><p>Los Angeles</p></a>
                  </div>
              </div>
              <div class="col-md-3">
                  <a href="#city/sanfrancisco"><img src="https://pixabay.com/static/uploads/photo/2015/10/22/08/51/golden-bridge-1000909_960_720.jpg" class="img-responsive img-rounded center-block border=0">
                  <div class="homepage-text"><p>San Francisco</p></a>
                  </div>
              </div>
              <div class="col-md-3">
                      <a href="#city/portland"><img src="http://david.sickmiller.com/pictures/dynimages/Columbia_River_Gorge_-_View_from_Portland_Womens_Forum_4.jpg" class="img-responsive img-rounded center-block border=0">
                      <div class="homepage-text"><p>Portland</p></a> 
                      </div>
              </div>
              <div class="col-md-3">
                  <a href="#city/seattle"><img src="https://c1.staticflickr.com/9/8137/8714655860_4fa16bca7b_b.jpg" class="img-responsive img-rounded center-block border=0">
                  <div class="homepage-text"><p>Seattle</p></a>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <script type="text/template" id="campsite-template">
      <div>
        <p><strong><%= name %></strong></p><a href="http://www.reserveamerica.com/campsiteSearch.do?contractCode=<%= contract_id %>&parkId=<%= facility_id %>" target="_blank">More info</a>
        <p>(<%= location.lat.toFixed(4) %>, <%= location.lon.toFixed(4) %>)</p>
        <ul>
          <% _.each(topTrails, function (trail) { %>
            <li><em><%= trail.name %></em>
            <a href="http://www.everytrail.com/view_trip.php?trip_id=<%= trail.trip_id %>" target="_blank">More info</a></li>
          <% }) %>
        </ul>
      </div>  
    </script>


    <div id="results">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Outside Bound</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#city/losangeles">Los Angeles</a></li>
              <li><a href="#city/sanfrancisco">San Francisco</a></li>
              <li><a href="#city/portland">Portland</a></li>
              <li><a href="#city/seattle">Seattle</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="row">
        <div class="col-md-6">
          <div id="campsite-container">
          </div>
          <div id="trail-container">
          </div>
        </div>
        <div class="col-md-6">
          <div id="map-container">
          </div>
        </div>
      </div>



  </body>
</html>
